# Datos generados
*.db
*.db-journal
*.db-wal
*.db-shm

# Herramientas locales
cloudflared.exe

# Certificados
server.key
server.crt

# Node
node_modules/
npm-debug.log*

# Android
android-app/local.properties
android-app/.gradle/
android-app/build/
android-app/app/build/
android-app/app/release/
*.apk